.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-box {
  position: absolute;
  bottom: 100%; /* Show the tooltip above the element */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  visibility: visible;
  opacity: 1;
  min-width: 300px;
  transition: opacity 0.3s ease-in-out;
  z-index: 99999;
}

.tooltip-container:hover .tooltip-box {
  visibility: visible;
  opacity: 1;
}

.tooltip-box::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
