@import '../../../../styles/colors.scss';

.primaryRoot {
  background: linear-gradient(
    to top,
    rgba(41, 114, 245, 1) 0%,
    rgba(255, 255, 255, 1) 185%
  ) !important;
  &:hover {
    background: linear-gradient(
      to top,
      rgba(10, 82, 214, 1) 0%,
      rgba(255, 255, 255, 1) 185%
    ) !important;
  }
  &:disabled {
    background: #eef2f6 !important;
    border: 1px solid #e3e8ef !important;
    box-shadow: 0px 1px 2px 0px rgba(18, 25, 38, 0.05);
  }
}

.primaryInner {
  background: var(
    --Button-Specific-Primary,
    radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
    #2972f5
  );
  &:hover {
    background: $primary-700 !important;
  }
}

.primaryDisabled {
  cursor: not-allowed;
  background: $gray-100 !important;
  &:hover {
    background: $gray-100 !important;
  }
}

.secondaryRoot {
  box-shadow:
    0px 1px 2px 0px rgba(13, 18, 28, 0.48),
    0px 0px 1px 0px rgba(13, 18, 28, 0.08);
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, #9aa4b2 215%) !important;
  &:hover {
    background: $gray-50 !important;
  }
  &:disabled {
    border: 1px solid $gray-200 !important;
    background: $white-base !important;
  }
}

.secondaryInner {
  background: $white-base;
  &:hover {
    background: $gray-50;
  }
}

.secondaryDisabled {
  cursor: not-allowed;
  background: $white-base !important;
  &:hover {
    background: $white-base !important;
  }
}

.secondaryBlackRoot {
  box-shadow:
    0px 1px 2px 0px rgba(13, 18, 28, 0.64),
    0px 0px 0px 1px #303534;
  background: linear-gradient(to top, #303534 0%, rgba(13, 18, 28, 0.64) 75%) !important;
  &:disabled {
    box-shadow: 0px 1px 2px 0px rgba(18, 25, 38, 0.05);
    border: 1px solid $gray-200 !important;
    background: $white-base !important;
  }
}

.secondaryBlackInner {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 8%, rgba(255, 255, 255, 0) 100%),
    #303534 !important;
  &:hover {
    background: #303534 !important;
  }
}

.secondaryBlackDisabled {
  cursor: not-allowed;
  background: $white-base !important;
  &:hover {
    background: $white-base !important;
  }
}

.tertiaryGrayRoot {
  background: none !important;
  color: $gray-600 !important;
  &:hover {
    color: $gray-700 !important;
    background: $gray-50 !important;
  }
  &:disabled {
    background: none !important;
    color: $gray-400 !important;
  }
}

.tertiaryRoot {
  background: none !important;
  color: $primary-600 !important;
  &:hover {
    color: $primary-800 !important;
    background: $gray-50 !important;
  }
  &:disabled {
    background: none !important;
    color: $gray-400 !important;
  }
}

.linkRoot {
  background: none !important;
  color: $primary-600 !important;
  &:hover {
    color: $primary-800 !important;
  }
  &:disabled {
    color: $gray-400 !important;
  }
}

.tertiaryDestructiveRoot {
  background: none !important;
  color: $error-700 !important;
  &:hover {
    color: $error-800 !important;
    background: $error-50 !important;
  }
  &:disabled {
    background: none !important;
    color: $gray-400 !important;
  }
}
