@import '../../../../styles/colors.scss';

.primaryRoot {
  background: linear-gradient(
    to top,
    rgba(41, 114, 245, 1) 0%,
    rgba(255, 255, 255, 1) 185%
  ) !important;
  &:hover {
    background: linear-gradient(
      to top,
      rgba(10, 82, 214, 1) 0%,
      rgba(255, 255, 255, 1) 185%
    ) !important;
  }
  &:disabled {
    background: #eef2f6 !important;
    border: 1px solid #e3e8ef !important;
    box-shadow: 0px 1px 2px 0px rgba(18, 25, 38, 0.05);
  }
}

.primaryInner {
  background: var(
    --Button-Specific-Primary,
    radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
    #2972f5
  );
  &:hover {
    background: $primary-700 !important;
  }
}

.primaryDisabled {
  cursor: not-allowed;
  border: none;
  background: #eef2f6 !important;
  &:hover {
    background: $gray-100 !important;
  }
}

.primaryDestructive {
  border: 0.75px solid
    var(
      --Gradient-Linear-Button-Specific-Primary,
      linear-gradient(180deg, rgba(255, 255, 255, 0.44) 0%, rgba(255, 255, 255, 0) 100%)
    ) !important;
  background: var(
    --Button-Specific-Primary-destructive,
    radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
    #d92d20
  ) !important;
  box-shadow:
    0px 1px 2px 0px rgba(13, 18, 28, 0.64),
    0px 0px 0px 1px #d92d20 !important;
  &:hover {
    background: $error-700 !important;
  }
  &:disabled {
    border: 1px solid $gray-200 !important;
    background: $gray-100 !important;
    box-shadow: 0px 1px 2px 0px rgba(18, 25, 38, 0.05) !important;
  }
}

.secondary {
  color: $gray-600 !important;
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(180deg, rgba(13, 18, 28, 0.03) 0%, rgba(13, 18, 28, 0) 100%) !important;

  border: 0.75px solid !important;
  border-image-source: linear-gradient(
    180deg,
    rgba(13, 18, 28, 0.2112) 0%,
    rgba(13, 18, 28, 0) 100%
  ) !important;

  box-shadow:
    0px 0px 1px 0px #0d121c14,
    0px 1px 2px 0px #0d121c7a !important;

  &:hover {
    color: $gray-700 !important;
    background: $gray-50 !important;
    border: 1px solid !important;
    border-image-source: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(13, 18, 28, 0.03) 50%,
      rgba(13, 18, 28, 0) 100%
    ) !important;

    box-shadow:
      0px 0px 1px 0px #0d121c14,
      0px 1px 2px 0px #0d121c7a !important;
  }
  &:disabled {
    color: $gray-400 !important;
    background: $white-base !important;
    border: 1px solid $gray-200 !important;
    box-shadow: 0px 1px 2px 0px #1219260d !important;
  }
}

.secondaryBlack {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 8%, rgba(255, 255, 255, 0) 100%),
    #303534 !important;

  border: 1px solid !important;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.44) 44%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  border-image-slice: 1 !important;

  box-shadow:
    0px 0px 0px 1px #303534,
    0px 1px 2px 1px rgba(13, 18, 28, 0.64) !important;

  &:hover {
    background: $gray-950 !important;
    border: 1px solid;
    border-image-source: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.44) 0%,
      rgba(255, 255, 255, 0) 100%
    ) !important;

    box-shadow:
      0px 0px 0px 1px #303534,
      0px 1px 2px 0px #0d121ca3 !important;
  }
  &:disabled {
    color: $gray-400;
    background: $white-base !important;
    border: 1px solid $gray-200 !important;
    box-shadow: 0px 1px 2px 0px #1219260d !important;
  }
}

.tertiaryGray {
  background: none !important;
  color: $gray-600 !important;
  &:hover {
    color: $gray-700 !important;
    background: $gray-50 !important;
  }
  &:disabled {
    color: $gray-400 !important;
  }
}

.tertiary {
  background: none !important;
  color: $primary-600 !important;
  &:hover {
    color: $primary-800 !important;
    background: $gray-50 !important;
  }
  &:disabled {
    color: $gray-400 !important;
  }
}

.tertiaryDestructive {
  background: none !important;
  color: $error-700 !important;
  &:hover {
    color: $error-800 !important;
    background: $error-50 !important;
  }
  &:disabled {
    color: $gray-400 !important;
  }
}

.link {
  background: none !important;
  color: $primary-600 !important;
  &:hover {
    color: $primary-800 !important;
  }
  &:disabled {
    color: $gray-400 !important;
  }
}
