.container {
  max-height: 600px;
  overflow: auto;
  border-radius: 12px;
  border: 1px solid #dcdcdc;
}

.table {
  width: 100%;
  table-layout: auto;
  background: white;

  border-collapse: collapse;
  border-radius: 12px;
  position: relative;
}

.striped {
  tr {
    &:nth-child(odd) {
      background: #fcfcfd;
    }
  }
}
