.input {
  height: 40px !important;
  border-radius: 8px !important;
  color: #0d0d0d !important;
  border: 1px solid #cbcbcb !important;

  &:focus {
    border: 1px solid #95edff !important;
    box-shadow: 0px 0px 0px 4px #f4ebff, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
  }

  &:disabled {
    color: #636363 !important;
    border: 1px solid #cbcbcb !important;
    background: "#F0F0F0" !important;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
  }
}

.required {
  display: none !important;
}

.error {
  font-size: 14px !important;
  color: #f04438 !important;
  margin-top: 6px !important;
}

.errorInput {
  height: 40px !important;
  border-radius: 8px !important;
  color: #0d0d0d !important;
  border: 1px solid #fda29b !important;
  background: white !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;

  &:focus {
    border-radius: 8px !important;
    border: 1px solid #fda29b !important;
    background: #fff !important;
    box-shadow: 0px 0px 0px 4px #fee4e2, 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
  }

  &::placeholder {
    color: #636363 !important;
  }
}

.label {
  color: #2f2f2f !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  margin-bottom: 6px !important;
}
