@import '../../../../styles/colors.scss';

.label {
  color: $gray-700 !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  margin-bottom: 4px !important;
}

.input {
  height: 44px !important;
  padding: 10px 14px;
  border-radius: 16px !important;
  color: $gray-900 !important;
  background: $white-base !important;
  border: 1px solid $gray-300 !important;
  box-shadow: 0px 1px 2px 0px rgba(18, 25, 38, 0.05) !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  &:focus {
    border: 1px solid $primary-300 !important;
    box-shadow:
      0px 1px 2px 0px rgba(18, 25, 38, 0.05),
      0px 0px 0px 4px rgba(56, 122, 246, 0.24) !important;
  }
  &:disabled {
    color: $gray-500 !important;
    border: 1px solid $gray-300 !important;
    background: $gray-50 !important;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
  }
  &::placeholder {
    color: $gray-500 !important;
  }

  &[data-error='true'] {
    border-color: $error-300 !important;

    &:focus {
      box-shadow:
        0px 1px 2px 0px rgba(18, 25, 38, 0.05),
        0px 0px 0px 4px rgba(240, 68, 56, 0.24) !important;
    }
  }

  &::placeholder {
    color: $gray-400 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $gray-600;
}

.error_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $error-500 !important;
}
