@import './colors.scss';

$topbar-height: 74px;
$sidebar-max-width: 240px;

@mixin shadowSM {
  --tw-shadow: 0px 1px 3px 0px rgba(18, 25, 38, 0.1),
    0px 1px 2px 0px rgba(18, 25, 38, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@mixin shadowMD {
  --tw-shadow: 0px 4px 8px -2px rgba(18, 25, 38, 0.1),
    0px 2px 4px -2px rgba(18, 25, 38, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@mixin shadowLG {
  --tw-shadow: 0px 12px 16px -4px rgba(18, 25, 38, 0.08),
    0px 4px 6px -2px rgba(18, 25, 38, 0.03);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@mixin shadowXL {
  --tw-shadow: 0px 24px 48px -12px rgba(18, 25, 38, 0.18);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
