// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;900&display=swap');
@import 'src/styles/config.scss';
@import 'src/styles/scrollbar.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-open: 'Open Sans', sans-serif;
  --font-geist: 'Geist', sans-serif;
  color-scheme: light;

  --White-base: #{$white-base};
  --Gray-50: #{$gray-50};
  --Gray-200: #{$gray-200};
  --Gray-950: #{$gray-950};

  --Gradient-Linear-Button-Specific-Secondary-black: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffffff 44%
  );
  --Button-Specific-Secondary-black: linear-gradient(90deg, #303534 0%, #ffffff 0%, #ffffff 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    direction: ltr;
    font-family: 'Geist', sans-serif !important;
  }
}
pre {
  font-family: 'Geist';
}
