@import '../../../../styles/colors.scss';

.root {
  --checkbox-size-sm: 16px;
  --checkbox-size-md: 20px;
}

._input {
  border-color: $gray-300;
  background-color: $white-base;

  &:checked {
    border-color: $primary-600;
    background-color: $primary-600;

    &:disabled {
      border-color: $gray-300;
      background-color: $gray-50;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  &:disabled {
    border-color: $gray-300;
    background-color: $gray-50;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
