@import '../../../../styles/colors.scss';

.input {
  min-height: 44px !important;
  border-radius: 1rem !important;
  color: $gray-900 !important;
  background: $white-base !important;
  border: 1px solid $gray-300 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 2px 0px rgba(18, 25, 38, 0.05) !important;
  &:focus {
    border: 1px solid $primary-300 !important;
    box-shadow:
      0px 1px 2px 0px rgba(18, 25, 38, 0.05),
      0px 0px 0px 4px rgba(56, 122, 246, 0.24) !important;
  }
  &:disabled {
    color: $gray-500 !important;
    border: 1px solid $gray-300 !important;
    background: $gray-50 !important;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
  }
  &::placeholder {
    color: $gray-500 !important;
  }
}
